@charset "UTF-8";

@media screen and (max-width:281px) {
    main{
        width: 75vw;
        background-size: 200px;
    }
    .image-woman{
        height: 150px;
        width: 200px;
        top: -90px;
        left: calc(50% - 100px);
    }
    .image-box{
        width: 200px;
        position:absolute;
        top: 5px;
        left: calc(50% - 100px);
    }
}
@media screen and (min-width:1000px) {
    body,html{
        margin: 0px;
        padding: 0px;
        height: 100%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        height: 600px;
        width: 950px;
        padding: 0;
        margin: 0;
        background: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
        background-size: 450px,700px;
        background-position:left -50px center,left -300px center;
        background-repeat: no-repeat,no-repeat;
        background-color: white;
    }
    .boxer{
        display: block;
        position: absolute;
        height: 150px;
        width: 150px;
        top: 42%;
        left: -9%;
    }
    article{
        width: 500px;
        
    }
    .menu,.word-ocult{

        width: 400px;
    }
    .image-woman{
        display: none;
    }
    .image-box{
        display: none;
    }
}