@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700;800&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
/*Text*/
    --cor1:hsl(238, 29%, 16%);
    --cor2:hsl(14, 88%, 65%);

/*Background gradient:*/
    --cor3:hsl(273, 75%, 66%);
    --cor4:hsl(240, 73%, 65%);

/*Dividers*/
    --cor5:hsl(237, 12%, 33%);
    --cor6:hsl(240, 6%, 50%);
    --cor7:hsl(240, 5%, 91%);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--cor3), var(--cor4));
}
main{
    width: 85vw;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}